

        
        body {
            background-color: #f7f8fc;
            color: #333;
        }

        .navbar-brand{
            color: #FEA116;
            font-size: 36px;
            font-weight: 800;
        }

        
        .bg-lightblue {
            background-color: #e3f2fd; 
        }

        
        .bg-lightgreen {
            background-color: #d4edda; 
        }

        
        .bg-lightorange {
            background-color: #fff3cd; 
        }

        
        footer {
            background-color: #343a40;
            color: white;
        }
    