

        /* Couleur de fond globale attrayante */
        body {
            background-color: #f7f8fc;
            color: #333;
        }

        .navbar-brand{
            color: #FEA116;
            font-size: 36px;
            font-weight: 800;
        }

        /* Couleur de la section "À propos" */
        .bg-lightblue {
            background-color: #e3f2fd; /* Bleu clair */
        }

        /* Couleur de la section "Service" */
        .bg-lightgreen {
            background-color: #d4edda; /* Vert pâle */
        }

        /* Couleur de la section "Contact" */
        .bg-lightorange {
            background-color: #fff3cd; /* Orange pâle */
        }

        /* Pied de page sombre */
        footer {
            background-color: #343a40;
            color: white;
        }
    